@media screen and (min-width: 800px) {
  /* HEAD */
  .menuMobile {
    display: none;
  }
  .sociais {
    margin-right: 20px;
    align-items: center;
  }
  .menu {
    height: 60px;
    margin: auto;
    width: 74vw;
    min-width: 400px;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-family: "Open Sans", sans-serif;
  }
  .menu a {
    text-decoration: none;
    color: rgb(197, 197, 197);
    border-radius: 20px;
  }
  .item-0 a:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  .item-1 a:hover,
  .item-2 a:hover,
  .item-3 a:hover,
  .item-4 a:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  .icon {
    height: 20px;
    width: 20px;
  }
  .item-0 {
    place-self: center;
  }
  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    place-self: center;
  }
  .sociais {
    position: relative;
    height: 60px;
    width: 200px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
  }
  /* APRESENTAÇÕES */
  .apresentacao {
    margin: auto;
    height: 589px;
    width: 80vw;
    min-width: 900px;
    max-width: 1000px;
  }
  .conteudo-apresentacao {
    height: 470px;
    max-width: 1000px;
    min-width: 900px;
  }
  .fotopessoal {
    float: right;
    height: 350px;
    width: 350px;
    margin-top: 50px;
  }
  .conteudo-apresentacao h1 {
    font-size: 2.3em;
    margin-top: 130px;
  }
  .conteudo-apresentacao h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  /* PROJETOS */
  #projetos {
    margin: auto;
    margin-top: 60px;
    height: 522px;
    background-color: rgba(0, 0, 0, 0.897);
    width: 80vw;
    color: white;
    max-width: 1000px;
    min-width: 900px;
    border-radius: 8px;
  }
  .caixa-projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 400px;

    background-color: rgba(0, 0, 0, 0.897);
    width: 80vw;
    max-width: 1000px;
    margin: auto;
    min-width: 900px;
  }
  .project {
    display: inline-block;
    height: 370px;
    width: 200px;
    margin: 10px;
    background-color: rgba(173, 216, 230, 0.623);
  }

  .projeto-1 {
    background-image: url(../img/login-pc.png);
  }
  .projeto-2 {
    background-image: url(../img/cadastro-pc.png);
  }
  .projeto-3 {
    background-image: url(../img/animais-pc.png);
  }
  .projeto-4 {
    background-image: url(../img/pet-pc.png);
  }
  /* QUALIFICAÇÕES */
  #qualificacoes {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.897);
    width: 80vw;
    max-width: 1000px;
    margin: auto;
    margin-top: 60px;
    min-width: 900px;
    border-radius: 8px 8px 0px 0px;
  }
  .qualy {
    height: 120px;
    width: 120px;
    border: 1px solid black;
  }
  .techs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  /* SLIDE */
  .slide {
    margin: auto;
    height: 400px;
    width: 80vw;
    min-width: 900px;
    max-width: 1000px;
    border-radius: 0 0 8px 8px;
    background-color: rgba(0, 0, 0, 0.603);
  }
  /* SOBRE */
  #sobre {
    margin: auto;
    margin-top: 60px;
    height: 250px;
    width: 80vw;
    min-width: 900px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.897);
    color: black;
    display: grid;
    border-radius: 8px 8px 0 0;
  }
  .artigo-sobre {
    height: 80%;
    width: 90%;
    background-color: rgba(245, 245, 245, 0.836);
    margin: auto;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    margin-top: 25px;
  }
  .artigo-sobre h2 {
    padding: 10px;
    text-indent: 20px;
  }
  /* CONTATO */
  #contato {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: 420px;
    width: 80vw;
    min-width: 900px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 0 0 8px 8px;
  }
  .contact {
    height: 120px;
    width: 120px;
    border: 1px solid black;

  }
  .c0 {
    width: 300px;
    height: 50px;
    grid-column: 1/7;
    background-color: rgba(119, 53, 53, 0);
    font-size: 18px;
  }
  .c1 {
    width: 100%;
    height: 200px;
    grid-column: 1/7;
  }
  .c2 {
    width: 250px;
    height: 50px;
    grid-column: 1/3;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
  }
  .c3 {

    grid-column: 3/4;
  }
  .c4 {

    grid-column: 4/5;
  }
  .c5 {

    grid-column: 5/6;
  }
  .c6 {

        grid-column: 6/7;
  }

}
