@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*VARIAVEIS*/
:root {
  --cinzaClaro: rgb(197, 197, 197);
  --branco: rgb(255, 255, 255);
  --brancoTransparente: rgba(255, 255, 255, 0.911);
  --preto: rgb(0, 0, 0);
  --pretoTransparente: rgba(0, 0, 0, 0.897);
  --pretoSombra: rgba(0, 0, 0, 0.473);
  --sombraBotao: rgba(0, 0, 0, 0.61);
}
/* ANIMAÇÕES */
@keyframes abrirMenu {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animaMenu {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes opacity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen {
  /* GERAL */
  * {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
  }
  body {
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(0,0,0,1) 100%);
  }
  .fundo {
    width: 100%;
    height: 725px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  /* HEAD */
  .head {
    width: 100vw;
    background-color: var(--preto);
    position: fixed;
    height: 60px;
    z-index: 5;
  }
  .menuMobile {
    height: 30px;
    width: 65px;
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
    background-color: var(--preto);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(../img/abrir.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .menu {
    width: 150px;
    height: 200px;
    background-color: var(--preto);
    position: absolute;
    margin-top: 60px;
    border-radius: 0px 0px 10px 0px;
    display: none;
  }
  .activeMenu {
    display: block;
    animation: abrirMenu 0.5s;
  }
  .menuMobile.activeMenu {
    background-image: url(../img/fechar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: animaMenu 0.3s;
  }
  .sociais {
    height: 60px;
    width: 200px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .icon {
    margin-top: 15px;
    height: 25px;
    width: 25px;
  }
  .item {
    margin-top: 15px;
    border-radius: 10px;
  }
  .item a {
    text-decoration: none;
    margin-left: -30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--branco);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 10px;
  }
  .item a:hover {
    text-decoration: none;
    color: var(--cinzaClaro);
    border-radius: 20px;
    text-decoration: underline;
  }
  /* APRESENTAÇÕES */
  #apresentacao {
    margin: auto;
    padding-top: 25px;
    height: 565px;
    width: 80vw;
    min-width: 300px;
  }
  .conteudo-apresentacao {
    height: 450px;
    transform: translate(-0%, 20%);
    width: 80vw;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    background-color: var(--pretoTransparente);
    border-radius: 8px;
    padding: 9px;
    min-width: 300px;
  }
  .conteudo-apresentacao h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--branco);
    text-align: center;
  }
  .conteudo-apresentacao h2 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--branco);
    text-align: center;
  }
  .conteudo-apresentacao p {
    color: var(--branco);
    text-align: center;
  }
  .conteudo-texto {
    padding-top: 15px;
  }
  .fotopessoal {
    background-image: url(../img/FotoPessoal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: auto;
  }
  /* PROJETOS */
  #projetos {
    margin: auto;

    height: 970px;
    background-color: var(--pretoTransparente);
    width: 80vw;
    color: var(--branco);
    border-radius: 8px;
    min-width: 300px;
  }
  .titulo-projetos {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    padding-top: 30px;
  }
  .text-projetos {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .text-projetos a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    text-decoration: underline;
  }
  .caixa-projetos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    align-items: center;
    height: 790px;
    width: 90%;
  }
  .content-project.activeTab {
    display: block;
    background-color: var(--brancoTransparente);
    color: var(--preto);
    border-radius: 10px;
    animation: opacity1 0.5s;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 8px var(--pretoSombra);
  }
  .content-project.activeTab a {
    text-decoration: none;
    color: var(--preto);
    font-weight: bold;
  }
  .content-project {
    display: none;
  }
  .titulosH2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
  }
  .titulosH2.activeTab {
    display: none;
    transition: 0.8s;
  }
  .project {
    display: inline-block;
    height: 170px;
    width: 100%;
    margin: 10px;
    box-shadow: inset 0px 0px 100px 0px var(--pretoTransparente);
    border-radius: 10px;
    padding: 12px;
  }
  .projeto-1 {
    background-image: url(../img/login-cel.png);
  }
  .projeto-2 {
    background-image: url(../img/cadastro-cel.png);
  }
  .projeto-3 {
    background-image: url(../img/animais-cel.png);
  }
  .projeto-4 {
    background-image: url(../img/pet-cel.png);
  }
  .content-project p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
  }
  .content-project a::after {
    content: "";
    background-image: url("../img/acess.png");
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 1px;
    margin-top: 3px;
  }
  /* QUALIFICAÇÕES */
  #qualificacoes {
    height: 500px;
    background-color: var(--pretoTransparente);
    width: 80vw;
    margin: auto;
    margin-top: 60px;
    border-radius: 8px 8px 0px 0px;
    min-width: 300px;
  }
  #qualificacoes h2 {
    color: var(--branco);
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    text-align: center;
  }
  .qualy {
    height: 120px;
    width: 120px;
    display: grid;
    justify-content: center;
    justify-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--branco);
    border-radius: 8px;
  }
  .qualy img {
    height: 100px;
    width: 100px;
  }
  .techs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
  }
  /* SLIDE */
  .galeria {
    background-color: var(--pretoTransparente);
    width: 80vw;
    height: 320px;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
    min-width: 300px;
  }
  .slide-wrapper {
    overflow: hidden;
  }
  .slide {
    display: flex;
  }
  .slide:hover {
    will-change: transform;
  }
  .slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    transform: scale(0.8);
    transition: 0.4s;
  }
  .slide li.active {
    opacity: 1;
    transform: scale(1);
  }
  .custom-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .custom-controls li {
    opacity: 0.8;
    transform: scale(0.8);
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
  .custom-controls li.active {
    opacity: 1;
    transform: scale(1);
  }
  .slide img {
    max-width: 100%;
  }
  .custom-controls img {
    height: 28px;
    width: 28px;
  }
  /* SOBRE */
  #sobre {
    margin: auto;
    margin-top: 60px;
    height: 410px;
    width: 80vw;
    background-color: var(--pretoTransparente);
    color: var(--preto);
    display: grid;
    border-radius: 8px 8px 0 0;
    min-width: 300px;
  }
  .artigo-sobre {
    height: 385px;
    width: 90%;
    background-color: var(--cinzaClaro);
    margin: auto;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    margin-top: 25px;
    min-width: 235px;
  }
  .artigo-sobre h2 {
    padding: 10px;
    text-indent: 20px;
  }
  .artigo-sobre p {
    padding: 10px;
    text-indent: 20px;
  }
  .artigo-sobre button {
    float: right;
    margin-right: 15px;
    padding: 8px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  .artigo-sobre button:hover {
    background-color: var(--sombraBotao);
    transition: 0.3s;
    color: var(--branco);
  }
  .artigo-sobre button a {
    text-decoration: none;
    color: var(--preto);
  }
  .artigo-sobre button a:hover {
    color: var(--branco);
  }
  /* CONTATO */
  #contato {
    display: grid;
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: -1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 490px;
    width: 80vw;
    background-color: var(--pretoTransparente);
    min-width: 300px;
    color: var(--branco);
    font-family: "Open Sans", sans-serif;
    border-radius: 0px 0px 8px 8px;
  }

  .c0 {
    width: 80%;
    height: 75px;
    grid-column: 1/5;
    font-size: 18px;
    margin-top: 20px;
  }
  .c1 {
    width: 100%;
    height: 280px;
    grid-column: 1/5;
  }
  .formEmail {
    display: grid;
    gap: 3px;
    width: 80%;
    margin: auto;
  }
  #email {
    border-radius: 4px;
    height: 25px;
    text-indent: 6px;
  }
  #nome {
    border-radius: 4px;
    height: 25px;
    text-indent: 6px;
  }
  #msg {
    resize: none;
    height: 100px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    text-indent: 10px;
  }
  .botoes {
    height: 20px;
    width: 80px;
    margin-top: 10px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  .botoes:hover {
    background-color: var(--sombraBotao);
    transition: 0.3s;
    color: var(--branco);
  }
  .c2 {
    width: 80%;
    height: 25px;
    grid-column: 1/5;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .c3 {
    width: 100%;
    display: grid;
    justify-items: center;
    border-radius: 0px 0px 0px 8px;
    align-items: center;
  }
  .c4 {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .c5 {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .c6 {
    width: 100%;
    display: grid;
    justify-items: center;
    border-radius: 0px 0px 8px 0px;
    align-items: center;
  }
  #contato img {
    height: 40px;
    width: 40px;
  }
  /* FOOTER */
  .footer {
    margin-top: 60px;
    margin-bottom: 10px;
    height: 19px;
    background-color: var(--preto);
    color: var(--branco);
  }
  .footer p {
    margin-top: 10px;
    margin-left: 20px;
  }
  /*ANIMAÇÃO DE SCROLL*/
  .js [data-anime="scroll"] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: 0.3s;
  }
  .js [data-anime="scroll"].ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
