@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.head {
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: fixed;
  height: 58px;
  z-index: 5;
}
.menu {
  margin: auto;
  width: 80vw;
  min-width: 900px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr 30px 20px 20px 20px;
  padding: 20px;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
}
.menu a {
  text-decoration: none;
  color: rgb(214, 214, 214);
  padding: 8px;
  border-radius: 20px;
}
.item-1 a:hover,
.item-2 a:hover,
.item-3 a:hover,
.item-4 a:hover {
  background-color: rgb(214, 214, 214);
  transition: 0.5s;
  color: black;
}
.icon {
  height: 20px;
  width: 20px;
}
.item-0 {
  place-self: start;
}
.item-1,
.item-2,
.item-3,
.item-4 {
  place-self: center;
}
.item-5,
.item-6,
.item-7,
.item-8 {
  place-self: end;
}

.apresentacao {
  margin: auto;
  padding-top: 58px;
  height: 73.1vh;
  width: 80vw;
  min-width: 900px;
  max-width: 1000px;
}
.conteudo-apresentacao {
  height: 55vh;
  transform: translate(-0%, 20%);
  background-color: rgb(95, 95, 95);
  width: 80vw;
  max-width: 1000px;
  margin: auto;
  min-width: 900px;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.897);
  border-radius: 8px;
}
.conteudo-apresentacao h1 {
  font-size: 2.3em;
  margin-bottom: 10px;
  color: white;
}
.conteudo-apresentacao h2 {
  font-size: 1.8rem;
  text-indent: 35px;
  margin-bottom: 10px;
  color: white;
}
.conteudo-apresentacao p {
  text-indent: -40px;
  color: white;
}
.conteudo-texto {
  position: absolute;
  margin-left: 100px;
  margin-top: 150px;
}
.fotopessoal {
  position: absolute;
  background-image: url(/img/imgpessoal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 60%;
  margin-top: 50px;
}
#projetos {
  margin: auto;
  margin-top: 100px;
  height: 60vh;
  background-color: aqua;
  width: 80vw;

  max-width: 1000px;
  min-width: 900px;
}
#projetos h2 {
  position: absolute;
  margin: auto;
}
.caixa-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: 50vh;
  transform: translate(-0%, 10%);
  background-color: blue;
  width: 80vw;
  max-width: 1000px;
  margin: auto;
  min-width: 900px;
  align-items: center;
}
.project {
  display: inline-block;
  height: 80%;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
}
#qualificacoes {
  height: 200px;
  background-color: blueviolet;
  width: 80vw;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
  min-width: 900px;
}
.qualy {
  height: 120px;
  width: 120px;
  border: 1px solid black;
}
.techs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.slide {
  margin: auto;
  height: 60vh;
  width: 80vw;
  min-width: 900px;
  max-width: 1000px;
  background-color: rgba(145, 233, 133, 0.603);
}
#sobre {
  margin: auto;
  margin-top: 100px;
  height: 25vh;
  width: 80vw;
  min-width: 900px;
  max-width: 1000px;
  background-color: rgba(133, 156, 233, 0.603);
}
#contato {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: auto;
  height: 45vh;
  width: 80vw;
  min-width: 900px;
  max-width: 1000px;
  background-color: rgba(255, 231, 96, 0.603);
}
.contact {
  height: 120px;
  width: 120px;
  border: 1px solid black;
  background-color: bisque;
  align-items: center;
}
.c1 {
  width: 500px;
  height: 350px;
  grid-row: 1/3;
  grid-column: 1/2;
}
.c2 {
  grid-column: 2/4;
}
.c3 {
  grid-column: 4/6;
}
.c4 {
  grid-column: 2/4;
}
.c5 {
  grid-column: 4/6;
}
.footer {
  margin-top: 100px;
  height: 20px;
  background-color: black;
  color: aliceblue;
}
.footer p {
  margin-left: 20px;
}
