@charset "UTF-8";

@media screen and (min-width: 768px){
    /* Layout da página */
    section#section-grid {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: minmax(100px, 50vw) minmax(100px, 50vw) ;
        grid-template-rows:  minmax(200px, 250px) repeat(7, minmax(400px, 250px));
    }
    /* Cabeçalho */
    section article.head {
        grid-column: 1/3;
        background-position: top center ;
    }
    section article.head > h1 { 
        font-size: 3em;
        transition: 0.2s;
    }
    /* Itens da lista */
    .item5 {
        background-position: center center; 
        transition: 0.2s;
    }
    .item7 {
        grid-column: 1/3;
        background-position: center center;
        transition: 0.2s;
    }
    .item8 {
        grid-column: 1/3;
        background-position: center center;
        transition: 0.2s;
    }
    .item9 {
        grid-column: 1/3;
        background-position: center top;
        transition: 0.2s;
    }
    .item10 {
        grid-column: 1/3;
        background-position: center center;
        transition: 0.2s;
    }
    /* Footer */
    section > footer.by {
        grid-column: 1/3;
    }
}