@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
/*Animações*/
@keyframes animate {
  0% {
    transform: scale(2) rotate(0deg);
  }
  100% {
    transform: scale(2) rotate(360deg);
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*Classe animações*/
.fundogiratorio {
  animation: animate 6s linear infinite;
}
/*Base*/
* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
:root {
  --darkblue: #102542;
  --lightgray: #cdd7d6;
  --lightred: #f87060;
  --black: #000000;
  --black-t: #00000091;
  --white: #ffffff;
  --lightgray2: #e4e4e4;
}
body {
  background-image: linear-gradient(to top, var(--darkblue), var(--lightgray));
  width: 100vw;
  height: 100vh;
}
/*Aside - Informações*/
div#info {
  height: 30px;
  width: 30px;
  margin: 0px 20px 20px 0px;
  background-image: url(../imagens/info.png);
  background-size: cover;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.521);
}
#blockinfo {
  height: 300px;
  width: 250px;
  background-image: url(../imagens/phone01.png);
  position: absolute;
  margin-left: 50px;
  display: none;
  border-radius: 20px;
  box-shadow: inset 0px 0px 70px 0px var(--black);
  font-family: "Mulish", sans-serif;
  animation: show .5s forwards;
}
#blockinfo a {
  font-weight: bold;
}
#infotext {
  height: 220px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 20px;
}
/* Section - Conteudo */
section.base {
  height: 514px;
  width: 254px;
  margin-top: 30px;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: #000000;
  overflow: hidden;
}
section > span#fundo {
  height: 514px;
  width: 254px;
  overflow: hidden;
  background-image: conic-gradient(
    #ff1900,
    transparent,
    transparent 180deg,
    #ff1900,
    transparent,
    transparent 360deg
  );
  position: relative;
  border-radius: 40px;
}
section {
  height: 570px;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
/* Area imagem */
section > article#imglogin {
  background-image: url(../imagens/subway1.jpg);
  background-position: top center;
  background-size: cover;
  height: 200px;
  width: 250px;
  transition: 0.2s;
  border-radius: 40px 40px 0px 0px;
  transition: 0.2s;
}
/* Area de login */
section > article#arealogin {
  height: 320px;
  width: 250px;
  background-color: var(--white);
  border-radius: 0px 0px 40px 40px;
}
section > article h1 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 5px;
  font-family: "Mulish", sans-serif;
}
section > article p {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-family: "Mulish", sans-serif;
}
/* Dados de Login */
section > article > form > div.logindata {
  height: 50px;
  width: 230px;
  background: var(--lightgray);
  margin: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--black-t);
}
.databox {
  position: absolute;
  margin-top: 10px;
  height: 30px;
  width: 180px;
  border-radius: 5px;
}
.iconlogin {
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}
/*Botão entrar*/
section > article > form > input#entrar {
  height: 30px;
  width: 150px;
  margin-left: 50%;
  margin-top: 10px;
  transform: translate(-50%);
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--lightgray2);
  box-shadow: 3px 3px 3px var(--black-t);
}
section > article > form > input#entrar:hover {
  background-color: var(--lightred);
  color: var(--black);
  transition: 0.3s;
}
/* Link de cadastre-se*/
section > article > div.opcoes1 {
  margin: auto;
  width: 170px;
  height: 20px;
  cursor: pointer;
}
section > article > div.opcoes1:hover {
  background-color: var(--lightred);
  border-radius: 10px;
  transition: 0.3s;
}
section > article > div > a > p.opcoes2:hover::after {
  content: "";
  background-image: url("../imagens/acess.png");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  position: absolute;
}
img.imglink {
  height: 15px;
  width: 15px;
}
a {
  text-decoration: none;
  color: var(--black);
}
