@charset "UTF-8";

@media only screen and (min-width: 992px)  {
    /* Section - Conteudo */
    section {
        height: 500px;
        width: 900px;
        flex-direction: row;
        transition: 0.2s;
    }
    section.base {
        height: 504px;
        width: 844px;
        margin-top: 0px;
        margin-left: 30px;
    }
    section > span#fundo {
        height: 500px;
        width: 900px;
    }
    /* Area imagem */
    section > article#imglogin {
        height: 500px;
        width: 400px;
        border-radius: 40px 0px 0px 40px ;
        transition: 0.2s;
        background-image: url(../imagens/subway2.jpg);
        background-position: bottom center;
    }
    /* Area de login */
    section > article#arealogin {
        height: 500px;
        width: 500px;
        padding-top: 60px;
        border-radius: 0px 40px 40px 0px ;
        transition: 0.2s;
    }
}